[Desktop Entry]
Version=1.0
Type=Application
Name=Video Browser
Exec=VideoBrowser
Icon=com.maanoo.VideoBrowser.svg
Categories=Utility;
Terminal=false
